.not-found-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 30px;
}

.not-found-container * {
  margin: 30px auto;
}

.not-found-container h1 {
  font-size: 200px;
  margin-bottom: 100px;
}

.not-found-container .back-btn {
  padding: 10px;
  box-shadow: 0 0 0 1px black, 0 0 0 3px white, 0 0 0 7px black;
  cursor: pointer;
}
